<!DOCTYPE html>
<html>
    <head></head>
    <body>
    	<div class="frm-bg">
        <h1>About Dudetech Market</h1>

        <%= image_tag("Dudetech_Spinoff.png") %>

        <br><br>

        <p class="aboutcolor"> Dudetech Market is the e-commernce site of the world famous tech consulstation <br><br>firm Dudetech. Dudetech Market was created to provide loyal Dudetech <br><br>patrons an avenue in which they can buy and sell their products.</p>

        	<br><br>

        <p class="aboutcolor"> Created By:
        	<br>
        <ul class="aboutcolor">
        	<li>Dudetech C.E.O Dudely Lim</li>
        	<li>Justin Barbara</li>
        	<li>Nidge Falcon</li>
        	<li>Jovi San Pedro</li>
        </ul>
    	</p>
    </div>
    </body>
</html>