<!DOCTYPE html>
<html>
<head></head>
<body>
    <%= link_to "Sign up as buyer", new_buyer_path, class: "links btn-color" %>
    <%= link_to "Sign up as seller", new_seller_path, class: "links btn-color" %>
</body>
</html>